# This is the default carbon-relay configuration created by openmetric.
# You are very likely going to write one by yourself.

cluster default
    fnv1a_ch replication RELAY_REPLICATION
        RELAY_REMOTES
    ;

# since master branch has some bugs, we switch back to use v2.6
# which does not support this clause yet
#statistics
#    submit every 60 seconds
#    prefix with openmetric.carbon-c-relay.\.1
#    send to default
#    stop
#    ;

# v2.6 sends internal metrics with prefix: "carbon.relays.$hostname"
# to itself, rewrite it as we need
rewrite ^carbon\.relays\.([^.]+)\.(.*)
    into openmetric.carbon-c-relay.\1.\2
    ;

match *
    send to
        default
    stop
    ;
